<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8"/>-->
<!--  <title>Password Reset</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Password Reset</h1>-->
<!--<form th:action="@{/reset-password}" method="post">-->
<!--  <input type="hidden" name="email" th:value="${emails}"/>-->
<!--  <label for="password">New Password:</label>-->
<!--  <input type="password" id="password" name="password" required/><br/>-->
<!--  <label for="confirmPassword">Confirm Password:</label>-->
<!--  <input type="password" id="confirmPassword" name="confirmPassword" required/><br/>-->
<!--  <input type="submit" value="Set Password"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
